{% extends "base.html" %}
{% block title %}Обрати вікторину{% endblock %}
{% block content %}
<form method="POST" action="/test">
    <input type="hidden" value="{{ question_id }}" name="quest_id">
    <h1>{{ quest }}</h1>
    {% for answer in ans_list %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="ans" value="{{ answer }}" id="radioDefault1">
        <label class="form-check-label" for="radioDefault1">
            {{ answer }}
        </label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-outline-warning">Відповісти</button>
</form>
{% endblock %}